/* Estilos generales */
.color-de-fondo-paginaPrincipal {
    background-color: #ffebf2;
}

.color-de-fondo {
    background-color: #ffebf2;
}

.primerCarrusell {
    background-color: white;
}

.cards-wrapper,
.cards-tercerCarrusell,
.cards-cuartoCarrusell,
.card-3 {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 0.5em;
    width: calc(100% / 3.5); /* Ajustar para que haya espacio para tres tarjetas por fila */
}

.image-wrapper {
    height: 22vw;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.boton-custom {
    background-color: #FF8DC7;
    color: white;
    border: none;
}

.boton-custom:hover {
    background-color: white;
    color: #FF8DC7;
    border: solid 1px #FF8DC7;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 576px) {
    .card {
        width: 100%; /* Ajustar para una tarjeta por fila */
    }
}

/* Media Query para pantallas medianas */
@media (min-width: 576px) and (max-width: 992px) {
    .card {
        width: calc(100% / 2); /* Ajustar para dos tarjetas por fila */
    }
}

/* Media Query para pantallas grandes */
@media (min-width: 992px) {
    .card {
        width: calc(100% / 3.5); /* Ajustar para tres tarjetas por fila */
    }
}
