body{
    background-color: #FFF5FA;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}

.main-content{
    width: 100%;
    height: 100%;
    /* Debemos de organizarlo mejor
    problema al desplegar sidebar se va todo hacia la drecha
    queremos que se haga más pequeño el main content y se adapte a la sidebar
    amen */
}
.boton1,.boton2:hover{
    background-color: #FF8DC7;
    color: white;
    border: 2px solid #FF8DC7;
    border-radius: 5px;
    font-size: 15px;
    width: 160px;
    height: 30px;
    transition-duration: 0.5s;
    cursor: pointer;

}
.boton1:hover,.boton2 {
    background-color: white;
    color:#FF8DC7 ;
    border: 2px solid #FF8DC7;
    border-radius: 5px;
    width: 160px;
    height: 30px;
}


.modal-content{
    background-color:#E5D9CA;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color:#9B8668 ;
    width: 400px;
}
.boton-Close,.boton-Agregar,.boton-Eliminar,.boton-Actulizar{
    background-color: white; 
    border: 2px solid #AE9775;
    border-radius: 20px;
    font-size: 20px;
    width: 100px;
    height: 33px;
    /*text-align: center;*/
    transition-duration: 0.5s;
    margin-top:10px;
    color:#AE9775 ;
}
.boton-Close:hover,.boton-Agregar:hover,.boton-Eliminar:hover,.boton-Actulizar:hover {
    background-color: #AE9775;
    color: white;
    cursor: pointer;

}
